div,span {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}


#div1 {
    position: relative;
    width: 600px;
    height: 600px;
    margin: 0px auto 0;
    background: radial-gradient(73.07% 73.07% at 75.31% 35.79%, #32DFD5 0%, #4489F1 59.63%, #9820C2 100%);
    /*background-image: url("../../assets/images/logo-circle.svg");*/
    box-shadow: inset 20px -10px 100px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    z-index: 0;
}


#div1 span {
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

#div1 span:hover {
    color: #F3841E;
}

@media (max-width: 750px) {
    #div1 {
        width: 320px;
        height: 320px;
        margin-top: 50px;
    }

    #div1 span {
       font-size: 12px!important;
    }
}